<div class="container-fluid pt-2">
    <div class="d-grid gap-3">
        <div class="basicbuttons d-flex justify-content-end">
            <div class="row">
                <div class="col">
                  <app-create-profile-button></app-create-profile-button>
                </div>
                <div class="col">
                  <app-refresh-profile-button></app-refresh-profile-button>
                </div>
                <div class="col">
                  <app-filter-fields [fieldNames]='fields' (filterItemEvent)="isFilterChange($event)"></app-filter-fields>
                </div>
            </div>
          </div>
          
          
    </div>
</div>