
 <!-- Sidebar Start -->
 <div [ngClass]="isOpened ? 'vertical-nav-opened' :'vertical-nav-close'">
    <div class="py-4 px-3 mb-4 bg-light">
      <div class="media d-flex align-items-center justify-content-center">
        <img src="../../assets/Images/oes_logo.png" alt=".." width="100" height="100" class="mr-3  img-thumbnail shadow-sm">
        <!-- <div class="media-body">
          <h4 class="m-0">OLIVIA</h4>
          <p class="fw-normal text-muted mb-0">Web Developer</p>
        </div> -->
      </div>
    </div>
    <div class="accordion" id="accordionExample" *ngFor="let item of menu">
        <div class="accordion-item">
          <div class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
             {{item.title}}
            </button>
        </div>
          <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <ul class="nav flex-column bg-white mb-0">
                    <li class="nav-item" *ngFor="let child of item.children">
                      <a routerLink="{{child.link}}" class="nav-link text-dark bg-light">
                        <i class="{{child.icon}}" aria-hidden="true"></i>
                        {{child.title}}
                      </a>
                    </li>
                  </ul>
            </div>
          </div>
        </div>
      </div>
  </div>
  <!-- Sidebar End -->
  
  
  <!-- Page Content Start -->
  <div [ngClass]="isOpened ? 'page-content-collapse' :'page-content-expand'">
  
      <!-- NavBar Start-->
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <div class="navbar-header">
            <div class="navbar-brand">
              <button id="sidebarCollapse" type="button" class="btn btn-light bg-white rounded-pill shadow-sm" (click)="toggleSidebar()">
                <i class="fa fa-bars mr-2"></i>
              </button>
            </div>
          </div>
          
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Dropdown
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
              </li>
            </ul>
            <form class="d-flex">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
          </div>
        </div>
      </nav>
      <!-- NavBar End -->
      
      
      <!-- Demo Content -->
      <!-- <h2 class="display-4 text-dark">Bootstrap Vertical Nav</h2>
      <p class="lead text-dark mb-0">Fixed Sidebar using Bootstrap</p> -->
      <div class="container-fluid">
        <router-outlet></router-outlet>
      </div>
  </div>
  <!-- Page Content End -->