body{
	background: #599fd9;
	background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(152,152,227,1) 35%, rgba(0,212,255,1) 100%);
	min-height: 100vh;
	overflow-x: hidden;
}

.vertical-nav-opened{
	min-width: 17rem;
	width: 17rem;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
	transition: all 0.4s;
}

.vertical-nav-close{
	min-width: 17rem;
	width: 17rem;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
	transition: all 0.4s;
	margin-left: -17rem;
}

.page-content-collapse{
	width: calc(100% - 17rem);
	margin-left: 17rem;
	transition: all 0.4s;
}

.page-content-expand{
	width: calc(100% - 17rem);
	margin-left: 17rem;
	transition: all 0.4s;
	width: 100%;
	margin: 0;
}





@media(max-width:768px)
{
	#sidebar{
		margin-left: -17rem;
	}
	#sidebar.active{
		margin-left: 0;
	}
	#content{
		width: 100%;
		margin: 0;
	}

	#content.active{
		margin-left: -17rem;
		width: calc(100% - 17rem);
	}

}
